/* -------------------------------------------- */
/*                    LISTAS                     */
/* -------------------------------------------- */
.lista {
  width: auto;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 3px;
  float: left;
}
.li {
  padding: 8px 30px 5px 10px;
}

.li-in {
  list-style-position: inside;
}
.li-out {
  list-style-position: outside;
}
.li-none {
  list-style: none;
}

/* -------------------------------------------- */
/*              ESTILOS PARA LISTAS             */
/* -------------------------------------------- */
.li-1 {
  border-bottom: 2px solid var(--gris-oscuro);
}
.li-2 {
  border-left: 10px solid var(--gris-oscuro);
}
.li-3 {
  margin-bottom: 2px;
  border-bottom: 2px dashed var(--gris-oscuro);
}
.li-4 {
  margin-bottom: 2px;
  border-left: 10px solid var(--gris-oscuro);
}
.li-5 {
  border-left: 10px solid var(--gris-oscuro);
  border-radius: 10px;
}
.li-6 {
  border-left: 10px solid var(--gris-oscuro);
  border-right: 10px solid var(--gris-oscuro);
  border-radius: 10px;
}
.li-7 {
  border-bottom: 2px dashed var(--gris-claro);
}
